{{define "New"}}
<!DOCTYPE html>
<html lang="pt-BR">
  {{template "_head"}}
  <body>
    {{template "_nav"}}
    <div class="container">
      <div class="jumbotron jumbotron-fluid px-5">
        <div class="container">
          <h1 class="display-5">Novo produto</h1>
          <p class="lead">Insira os detalhes</p>
          <form method="POST" action="insert" class="mb-4">
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="name">Nome:</label>
                  <input type="text" name="name" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="description">Descrição:</label>
                  <input type="text" name="description" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="price">Preço:</label>
                  <input
                    type="number"
                    name="price"
                    class="form-control"
                    step="0.01"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="quantity">Quantidade:</label>
                  <input type="number" name="quantity" class="form-control" />
                </div>
              </div>
            </div>
            <button type="submit" value="salvar" class="btn btn-success">
              Salvar
            </button>
            <a class="btn btn-info" href="/">Voltar</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
